
<%- include ("./partials/header") %>




<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>About kNOWit!</h1>
		<div>
			<p>
			kNOWit! is a user friendly website which is developed to enrich the knowledge of people who are intrested 
			to know some intresting stuff. In here there will be posts about all the things that are going around you which we 
			donot notice much or donot have knowledge about any new stuff going on.
		</p>
		</div>
		<div><p>
				Any reader visiting this site can actually read through all the posts that are being posted by the users. 
			even if you have some intresting information to share then <a href="/register">SignUp here</a> to post
			some cool stuff.
			If you are an existing user then <a href="/login">Login here</a>.
			</p>
		</div>
		<br>
		<div><p>
			These readers who users can even add Comments , edit or update their posts, or even destroy posts....
			</p>	
		</div>
		<br>
		<div><p>
			<a href="/posts"> Click here </a> to go the posts feed and check out some cool stuff...
			</p>
		</div>
		
		</div>
		
	</header>
</div>




<%- include ("./partials/footer") %>