.thumbnail img{
	width:100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding : 9px;
}

#delete{
	display:inline;
}

#back{
	display:inline;
}

body{
	background-color:rgba(200, 208, 211, 0.664);
}

.navbar{
	 overflow: hidden;
	background-color: rgb(19, 60, 75);
	
	 top: 0;
  width: 100%;
}

.nav :hover{
	color:black;
}


.navbar {
	border:none;
}

li a {
	color:white;
}

.icon-bar{
	color:white;
}